@model IEnumerable<MusicRising.Models.Venue>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Find a Venue</h1>

@foreach (var Venue in Model) {
    <div class="container" style="background-color: rgba(138, 129, 0, 0.6); margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
        <div class="row">
            <div class="col col-xs-6 col-lg-5">
                <!--If there is no show.promolink to a promo item, we put the name of the headliner here-->
                <img src="@Venue.VenuePicture" alt="@Venue.VenueName">
            </div>
            <div class="col col-xs-6 col-lg-5">
                <h5>"@Venue.VenueName"</h5>
            </div>
            <div class="col col-xs-6 col-lg-5">
                <h5><a asp-action="Details" asp-route-id="@Venue.Genre" style="color: black">@Venue.Genre</a></h5>
            </div>
        </div>
    </div>
}

@if (!Model.Any())
{
    <p>No venues are registered yet</p>
}
